@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CASL@400,1;700,1&family=Righteous&family=Roboto&display=swap');

.home-screen {
    display: flex; /* flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background-color: #FB6B6B;
}

.hide-home-screen {
    display: none;
}

.logo {
    width: 136px;
    height: 161px;

    margin-bottom: 15px;
}
h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.btn-start-recall {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 246px;
    height: 54px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #FFFFFF;

    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #D70900;
}

.btn-unactive {
    text-decoration: none;
    background-color: #E8E8E8;
    color: #C0C0C0;
}

.flashcard-page-header {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    z-index: 1;

    width: 100vw;
    padding: 40px 0;
    background-color: #FB6B6B;
}

.flashcard-page-header img {
    width: 52px;
    height: 60px;
    margin-right: 20px;
}

.flashcard-page-main {
    width: 100vw;
    height: 100vh;
    padding-top: 140px;
    padding-bottom: 70px;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: #FB6B6B;
}

.flashcard-page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 70px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;

    position: fixed;
    bottom: 0;

    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.flash-card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 65px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #FFFFFF;

    margin: 15px auto;
}

.flash-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 15px;

}

.flash-card {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

ion-icon {
    width: 23px;
    height: 23px;
}

.question {
    width: 300px;
    min-height: 130px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    /* box-sizing: border-box; */
    background-color: #FFFFD5;
    margin: 15px auto;
    position: relative;

    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.question > div:first-child {
    width: 270px;
    min-height: 62px;
    margin: 0 15px;
    padding: 15px 0 10px 0;
}

.question img {
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.btn-container {
    display: flex;
    justify-content: space-between;

    width: 270px;
    margin: 0 15px;
    padding-bottom: 5px;
}

.btn-container div {
    width: 85px;
    height: 38px;
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.btn-container div:nth-child(1) {
    background-color: #FF3030;
}
.btn-container div:nth-child(2) {
    background-color: #FF922E;
}
.btn-container div:nth-child(3) {
    background-color: #2FBE34;
}

.close-circle {
    text-decoration-line: line-through;
    color: #FF3030;
}
.help-circle {
    text-decoration-line: line-through;
    color: #FF922E;
}
.checkmark-circle {
    text-decoration-line: line-through;
    color: #2FBE34;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 220px;
    padding: 15px 0;
}

.message > div {
    display: flex;
    margin-bottom: 15px;
    font-weight: 700;
}

.message img {
    margin-right: 15px;
}

.btn-reset {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 168px;
    height: 32px;
    border-radius: 5px;
    background-color: #FB6B6B;

    margin: 15px 0;
}

.meta-input {
    width: 246px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 15px;
}

.meta-input ::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ADADAD;
}

.invalid-value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 15px;
}